.abstract-hostory {
  width: 100%;
  min-height: 70vh;
  .abstract-history-container {
    .history-table {
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed;
      .history-title {
        padding: 25px 0 30px;
        font-size: 26px;
        font-weight: 600;
        line-height: 26px;
        color: #212529;
        text-align: left;
      }
      .table-head {
        tr {
          th {
            font-size: 14px;
            font-weight: 600;
            line-height: 14px;
            color: #5c545e;
            padding: 13px 0;
            text-align: center;
          }
        }
      }
      .table-body {
        tr {
          &:nth-child(odd) {
            background-color: #efefef;
          }
          td {
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            color: #5c545e;
            padding: 6px 0;
            .edit-area {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 10px;
              .edit-icon,
              .delete-icon {
                padding: 2px 4px;
                display: flex;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .btn-area {
      width: 100%;
      text-align: right;
      margin-top: 30px;
      span {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        display: inline-block;
        padding: 10px 41px;
        color: #fff;
        background-color: #82bd3f;
        border-radius: 5px;
      }
    }
  }
}
/* ------------------------------- Responsive ------------------------------- */
@media screen and (max-width: 700px) {
  .abstract-hostory {
    .abstract-history-container {
      .history-table {
        border: 0;
        .history-title {
          padding: 15px 0;
          font-size: 14px;
          line-height: 14px;
        }
        .table-head {
          border: none;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
          tr {
            display: block;
          }
        }
        .table-body {
          tr {
            display: block;

            td {
              padding: 12px 0;
              display: block;
              text-align: center;
              word-break: break-all;

              &::before {
                content: attr(data-label);
                float: left;
                font-size: 14px;
                font-weight: 700;
                line-height: 16px;
                width: 101px;
                clear: both;
                margin: 0 5px;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .abstract-hostory {
    .abstract-history-container {
      .history-table {
        .table-body {
          tr {
            td {
              text-align: right;
              margin-right: 5px;
              height: 40px;
              .edit-area {
                justify-content: flex-end;
              }
              &::before {
                width: auto;
              }
            }
          }
        }
      }
    }
  }
}
